<tr class="track" data-path="<%= track.path %>">
  <td class="number"><%= @songs.index(track) + 1 %>.</td>
  <td class="title"><a href="<%= track.escaped_path %>"><%= track.title %></a></td>
  <td class="album"><a href="<%= track.escaped_album_path %>" class="album"><%= track.album_name %></a></td>

  <td class="duration"><%= track.duration %></td>
  <td class="download">
    <a href="/download/<%= track.path %>"><span class="icon-cloud-download"></span></a>
  </td>

  <td class="like"><%= partial :like, :locals => { :song => track } %></td>
  <td class="queue"><%= partial :add, :locals => { :song => track } %></td>
</tr>