<div id="queue">
  <div class="heading">
    <span class="title"><%= @artist.name %></span>

    <div class="tabs">
      <a class="<%= 'active' if !@songs %>" href="<%= @artist.escaped_path %>">Albums</a>
      <a class="<%= 'active' if @songs %>" href="<%= @artist.escaped_path %>/songs">Songs</a>
      <a href="<%= @artist.escaped_path %>/about">Biography</a>
    </div>
  </div>

  <% if @albums %>
    <div class="album-list">
      <%= render :partial => 'album', :collection => @albums %>
    </div>
  <% else %>
    <table class="tracklist">
      <tr>
        <th colspan="2">Track</th>
        <th colspan="5">Album</th>
      </tr>
      <%= render :partial => 'shared/track', :collection => @songs %>
    </table>
  <% end %>
</div>