<div id="queue">
  <div class="heading">
    <span class="title"><%= @user.login %></span>
    <div class="tabs">
      <a class="<%= 'active' if controller.controller_name != 'likes' %>" href="/<%= @user.login %>">History</a>
      <a class="<%= 'active' if controller.controller_name == 'likes' %>" href="/<%= @user.login %>/likes">Likes</a>
    </div>
  </div>

  <%= render :partial => 'shared/song', :collection => @songs %>
</div>
