<div id="queue">
  <div class="heading">
    <span class="title"><%= @user.login %></span>
    <div class="tabs">
      <a class="<%= 'active' if controller.action_name == 'show' %>" href="/<%= @user.login %>">Profile</a>
      <a class="<%= 'active' if controller.action_name == 'history' %>" href="/<%= @user.login %>/history">History</a>
      <a class="<%= 'active' if controller.controller_name == 'likes' %>" href="/<%= @user.login %>/likes">Likes</a>
    </div>
  </div>

  <h4>Favorite Songs</h4>
  <% if @plays.present? %>
    <table class="tracklist">
      <tr>
        <th colspan="2">Track</th>
        <th colspan="1">Album</th>
        <th colspan="6">Plays</th>
      </tr>
      <% @plays.each do |play| %>
        <% track = play.song %>
          <tr class="track" data-path="<%= track.path %>">
            <td class="number"><%= @plays.index(play) + 1 %>.</td>
            <td class="title"><%= link_to track.title, song_path(track.artist, track) %></td>
            <td class="album"><%= link_to track.album_name, album_path(track.artist, track.album), :class => "album" %></td>

            <td class="duration"><%= play.playcount %></td>
            <td class="queue"><%= render :partial => 'shared/queue', :locals => { :song => track } %></td>
            <td class="like"><%= render :partial => 'shared/like', :locals => { :song => track } %></td>
            <td class="download">
              <a href="/download/<%= track.path %>"><span class="icon-cloud-download"></span></a>
            </td>

          </tr>
      <% end %>
    </table>
  <% else %>
    <div class="heading">
      <p><%= @user.login %> doesn't have any favorite songs yet. What a killjoy.</p>
    </div>
  <% end %>
</div>
