<div class="channel">
  <%= link_to channel_path(channel), :class => 'channel-image' do %>
    <img src="<%= channel.now_playing ? "/images/art/#{channel.now_playing.art_file}" : "/images/art-placeholder.png" %>" width="100" height="100" />
  <% end %>

  <div class="details">
    <h2 class="title">
      <%= link_to channel.name, channel_path(channel) %>
    </h2>
    <div class="meta">
    <% if channel.now_playing %>
      <%= channel.now_playing.artist_name %>
      <% if channel.now_playing.title.present? %>
        <span class="betweener">-</span>
        <%= channel.now_playing.title %>
      <% end %>
    <% end%>
    </div>
  </div>
</div>
