<%
  song = PlayQueue.songs.first
  return if !song
%>
<div id="sidebar">
  <div class="now-playing">
    <a href="/artists/<%= song.artist_name %>/albums/<%= song.album_name %>" class="album-art">
      <img src="/images/art/<%= song.art_file %>" />
    </a>

    <div class="now-playing-meta">
      <h2 class="title" title="<%= song.title %>"><%= song.title %></h2>
      <p class="album-info">
        <a href="<%= song.escaped_artist_path %>" class="artist"><%= song.artist_name %></a> - <a href="<%= song.escaped_album_path %>"><%= song.album_name %></a>
      </p>
    </div>
    <hr>
    <ul class="now-playing-actions" data-path="<%= song.path %>">
      <li><%= render :partial => 'shared/like', :locals => { :song => song, :full => true } %></li>
      <li>
        <a href="/download/<%= song.path %>">
          <span class="now-playing-action-icon icon-cloud-download"></span> Download Song
        </a>
      </li>
    </ul>
  </div>

  <div class="tune-fans">
    <h3>Tune Fans</h3>
    <div class="fans">
      <ul>
      <% likes=song.likes.each do |like| %>
        <li class="fan" data-login="<%= like.user.login %>">
          <a href="/<%= like.user.login %>">
            <img src="http://www.gravatar.com/avatar/<%= like.user.gravatar_id %>?s=50" alt="<%= like.user.login %>" />
          </a>
        </li>
      <% end %>

      <% if likes.empty? %>
        <li>No one likes this. Yet.</li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="stream-controls">
    <span class="icon-headphones"></span>
  </div>
</div>
