<%
  return if !Play.default_channel
  song = current_channel.queue.first
  return if !song || !flash[:error].blank?
%>
<div id="sidebar">
  <div class="now-playing">
    <%= link_to album_path(song.artist, song.album), :class => 'album-art' do %>
      <img src="/images/art/<%= song.art_file %>" />
    <% end %>

    <div class="now-playing-meta">
      <h2 class="title" title="<%= song.title %>"><%= song.title %></h2>
      <p class="album-info">
        <%= link_to song.artist_name, artist_path(song.artist), :class => 'artist' %> -
        <%= link_to song.album_name, album_path(song.artist, song.album) %>
      </p>
    </div>
    <hr>
    <ul class="now-playing-actions" data-path="<%= song.path %>" data-channel="<%= current_channel.id %>">
      <li><%= render :partial => 'shared/like', :locals => { :song => song, :full => true } %></li>
      <li>
        <%= link_to song_download_path(song) do %>
          <span class="now-playing-action-icon icon-cloud-download"></span> Download Song
        <% end %>
      </li>
    </ul>
  </div>

  <div class="tune-fans">
    <h3>Tune Fans</h3>
    <div class="fans">
      <ul>
      <% likes=song.likes.each do |like| %>
        <li class="fan" data-login="<%= like.user.login %>">
          <a href="/<%= like.user.login %>">
            <img src="//www.gravatar.com/avatar/<%= like.user.gravatar_id %>?s=50" alt="<%= like.user.login %>" />
          </a>
        </li>
      <% end %>

      <% if likes.empty? %>
        <li>No one likes this. Yet.</li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
