<div class="song" data-path="<%= song.path %>" data-channel="<%= current_channel.id %>">
  <%= link_to album_path(song.artist, song.album), :class => 'album-art' do %>
    <img src="/images/art/<%= song.art_file %>" width="100" height="100" />
  <% end %>

  <%= link_to album_download_path(song.artist ? song.artist.name : 'Unknown Artist', song.album), :class => "album-download", :title => "Download this album" do %>
    <span class="icon-cloud-download"></span>
  <% end %>
  <div class="details">
    <h2 class="title">
      <%= link_to song.title, song_path(song.artist, song) %>
      <span class="duration"> (<%= song.duration %>)</span>
    </h2>

    <div class="meta">
      <%= link_to(song.artist_name, artist_path(song.artist), :class => 'artist') %>

      <% if song.album_name.present? %>
        <span class="betweener">-</span>
        <%= link_to(song.album_name, album_path(song.artist, song.album), :class => 'album') %>
      <% end %>
    </div>
  </div>
  <div class="controls">
    <%= render :partial => 'shared/queue', :locals => {:song => song} %>
    <%= render :partial => 'shared/like', :locals => {:song => song} %>
    <%= link_to song_download_path(song.path) do %>
      <span class="icon-cloud-download"></span></a>
    <% end %>
  </div>
</div>
