<div class="song" data-path="<%= song.path %>">
  <a href="/artist/<%= song.artist_name %>/album/<%= song.album_name %>" class="album-art">
    <img src="/images/art/<%= song.art_file %>" width="100" height="100" />
  </a>
  <a href="/artists/<%= CGI.escape(song.artist_name) %>/albums/<%= CGI.escape(song.album_name) %>/download" class="album-download" title="Download this album">
    <span class="icon-cloud-download"></span>
  </a>
  <div class="details">
    <h2 class="title"><a href="<%= song.escaped_path %>"><%= song.title %></a><span class="duration"> (<%= song.duration %>)</span></h2>

    <div class="meta">
      <a href="<%= song.escaped_artist_path %>" class="artist"><%= song.artist_name %></a>
      <span class="betweener">-</span>
      <a href="<%= song.escaped_album_path %>" class="album"><%= song.album_name %></a>
    </div>
  </div>
  <div class="controls">
    <%= render :partial => 'shared/queue', :locals => {:song => song} %>
    <%= render :partial => 'shared/queue', :locals => {:song => song} %>
    <a href="/songs/download/<%= CGI.escape(song.path) %>"><span class="icon-cloud-download"></span></a>
  </div>
</div>