<%
  other_albums = @artist.albums
  other_albums.delete(@album)
%>
<div id="queue">
  <div class="album-details">
    <div class="sidebar album" data-artist="<%= @album.artist.name %>" data-name="<%= @album.name %>">
      <img src="/images/art/<%= @album.art %>" class="album-art">
      <ul>
        <li>
          <%= link_to '#', :class => 'add' do %>
            <span class="icon-plus-sign-alt"></span> Add to Queue
          <% end %>
        </li>
        <li>
          <%= link_to album_download_path(@artist.name, @album) do %>
            <span class="icon-cloud-download"></span> Download Album
          <% end %>
        </li>
      </ul>
    </div>
    <div>
      <span class="title"><%= @album.name %></span>
      <span class="artist"><%= link_to @artist.name, artist_path(@artist) %></span>
        <ul class="listing">
          <% @album.songs.each do |song| %>
            <li class='track' data-path="<%= song.path %>">
              <%= link_to song.title, song_path(song.artist, song), :class => 'track-title' %>

              <div class="controls">
                <%= render :partial => 'shared/queue', :locals => {:song => song} %>
                <%= render :partial => 'shared/like', :locals => {:song => song} %>
                <%= link_to song_download_path(song.path) do %>
                <span class="icon-cloud-download"></span>
                <% end %>
              </div>

              <span class="duration pull-right"> <%= song.duration %></span>
            </li>
          <% end %>
        </ul>
    </div>

    <div class="artist-albums">
      <div class="others">Other albums by <%= link_to @artist.name, artist_path(@artist) %></div>
      <div class="album-list">
        <%= render :partial => 'artists/album', :collection => other_albums.sample(4) %>
      </div>
    </div>
  </div>
</div>
