<div class="song" data-path="<%= song.path %>">
  <a href="/artist/<%= song.artist_name %>/album/<%= song.album_name %>" class="album-art">
    <img src="/images/art/<%= song.art_file %>" width="100" height="100" />
  </a>
  <div class="details">
    <span class="duration"> <%= song.duration %></span>
    <h2 class="title"><a href="/artist/<%= song.artist_name %>/song/<%= song.title %>"><%= song.title %></a></h2>

    <div class="meta">
      <a href="/artist/<%= song.artist_name %>" class="artist"><span class="icon-user"></span><%= song.artist_name %></a>
      <a href="/artist/<%= song.artist_name %>/album/<%= song.album_name %>" class="album"><span class="icon-music"></span><%= song.album_name %></a>
    </div>

    <div class="controls">
      <a href="#" class="add">Add</a>
      <a href="#" class="remove">Remove</a>
      <a href="/download/<%= song.path %>">Download Song</a>
      <a href="/download/album/<%= song.path %>">Download Album</a>
      <a href="#" class="like">Like</a>
      <a href="#" class="unlike">Unlike</a>
    </div>
  </div>
</div>