<div id="queue">
  <div class="heading">
    <span class="title"><%= @artist.name %></span>
  </div>

  <div class="tabs">
    <a href="<%= @artist.escaped_path %>">albums</a>
    <a href="<%= @artist.escaped_path %>/songs">songs</a>
    <a href="<%= @artist.escaped_path %>/about"></a>
  </div>

  <% if @albums %>
    <%= partial :album, :collection => @albums %>
  <% else %>
    <table class="tracklist">
      <tr>
        <th colspan="2">Track</th>
        <th colspan="5">Album</th>
      </tr>
      <%= partial :track, :collection => @songs %>
    </table>
  <% end %>
</div>