<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Play</title>

  <link rel="stylesheet" href="/assets/application.css">
  <link rel="stylesheet" href="/assets/font-awesome.min.css">

  <script type="text/javascript" src="/assets/application.js"></script>
</head>

<body>
  <% if !Play.client.running? %>
    <div>The music server isn't running. Spin it up with <code>script/music start</code>.</div>
  <% end %>

  <a href="/">Play</a>
  <div id="header">
  <a href="/"><h1>Play</h1></a>

  <section role="nav">
    <span id="login">
      <a href="/<%= current_user.login %>">
        <%= current_user.login %>
        <img src="http://www.gravatar.com/avatar/<%= current_user.gravatar_id %>?s=50" />
      </a>
    </span>
    <form class="search" action="/search">
      <a href="#" class="advanced-search"><span class="icon-cog"></span></a><div class="filter">
      <span class="active">All</span>
      <span>Artist</span>
      <span>Album</span>
      <span>Song</span>
    </div><input type="text" name="q" id="q" placeholder="Search"/>
      <input type="hidden" name="filter" id="filter" value="all" />
      <span class="icon-search"></span>
    </form>
  </section>

  </div><!-- end of header -->

  <%= partial :sidebar %>

  <%= yield %>
</body>
</html>