<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Play</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body
  data-login="<%= current_user.login if current_user %>"
  data-gravatar-id="<%= current_user.gravatar_id if current_user %>">

  <a href="/">Play</a>
  <div id="header">
  <a href="/"><h1>Play</h1></a>

  <section role="nav">
    <span class="stream-controls">
      <span class="icon-headphones"></span>
      listen
    </span>

    <span id="login">
      <a href="/<%= current_user.login %>">
        <img src="http://www.gravatar.com/avatar/<%= current_user.gravatar_id %>?s=50" />
        <%= current_user.login %>
      </a>
    </span>

    <form class="search" action="/search">
      <% style = @filter && @filter != :any ? 'display: inline;' : '' %>
      <a href="#" class="advanced-search"><span class="icon-cog"></span></a><div class="filter" style="<%= style %>">
      <span <%= raw 'class="active"' if @filter == :any || !@filter %>>Any</span>
      <span <%= raw 'class="active"' if @filter == :artist %>>Artist</span>
      <span <%= raw 'class="active"' if @filter == :album %>>Album</span>
      <span <%= raw 'class="active"' if @filter == :title %>>Song</span>
    </div><input type="search" results="10" autosave="Play" name="q" id="q" placeholder="Search" value="<%= params[:q] %>"/>
      <input type="hidden" name="filter" id="filter" value="any" />
      <span class="icon-search"></span>
    </form>
  </section>

  </div><!-- end of header -->

  <%= render :partial => 'shared/sidebar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>
